<nuxten-slide-menu (onToggleSideNav)="onToggleSideNav($event)"></nuxten-slide-menu>

<body>
    <div class="bar-user">
        <div class="user-icon">
            <span class="user">Hola, Cesar Rodriguez</span>
            <mat-icon class="icon">person</mat-icon>
        </div>
    </div>
    <!-- <nuxten-user-bar></nuxten-user-bar> -->
    <div class="bar-rute">
    </div>
    <div class="bar-rute">
        <div class="rute-text">
            <mat-icon class="icon">home</mat-icon>
            <span class="rute">Incio / </span>
        </div>
    </div>
    <br>
    <br>
    <div>
        <nuxten-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></nuxten-body>
    </div>
    <br>
</body>