<body>
    <!-- Titulo -->
    <div class="title-nav">
        <div class="title-icon">
            <span class="icon material-symbols-outlined">folder</span>
            <h2 class="title">Fase 2: Consolidación de problemas</h2>
        </div>
        <hr>
    </div>
    <p>Esta pantalla podrás realizar la segunda fase de la evaluación.</p>
    <!-- Sub Titulo -->
    <div class="subTitle-nav">
        <hr>
        <h4 class="title">Descripción de la fase</h4>
    </div>
    <p>En esta fase, de forma grupal los expertos agrupan los problemas identificados en un solo listado. Puede
        presentarse problemas repetidos por lo que los expertos deben decidir tomar solo uno de ellos y se añade una
        evidencia fotográfica que demuestre el problema (solo una por problema). Una vez consolidado el listado de
        problemas, el grupo de expertos procede a la siguiente fase.
    </p>
    <!-- Sub Titulo -->
    <div class="subTitle-nav">
        <hr>
        <h4 class="title">Seleccione los problemas</h4>
    </div>
    <br>
    

    <!-- botones -->
    <br>
    <br>
    <div class="button-nav">
        <button class="btn-secundary fase" type="button" (click)="goBack()" mat-stroked-button>Regresar</button>
        <button class="btn-primary fase" type="submit" mat-stroked-button>Finalizar Fase</button>
    </div>
</body>