td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-column-selec {
  text-align: center;
  vertical-align: middle;
}

.mat-column-def {
  text-align: justify;
  word-wrap: break-word;
  max-width: 15vw;
}

.mat-column-des {
  text-align: justify;
  word-wrap: break-word;
  max-width: 25vw;
}

::ng-deep .mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: var(--nuxten-color-primary) !important;
  --mdc-checkbox-selected-hover-icon-color: var(--nuxten-color-primary) !important;
  --mdc-checkbox-selected-icon-color: var(--nuxten-color-primary) !important;
  --mdc-checkbox-selected-pressed-icon-color: var(--nuxten-color-primary) !important;
}

.button-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-right: 20px;
  }

  .fase {
    width: 20vw;
  }
}

.mat-column-acciones {
  text-align: center;
}

.file-label {
  position: relative;
  cursor: pointer;
}

.circular-button {
  width: 50px;
  height: 50px;
  color: var(--nuxten-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto; /* Centra el botón horizontalmente */
  margin-bottom: 10px;
}

.fa {
  font-size: 35px;
} 

.file-name {
  text-align: center;
}

.circular-button:hover {
  background-color: var(--nuxten-color-primary);
  color: var(--nuxten-color-white);
}

.circular-button:active {
  background-color: var(--nuxten-color-secundary);
  color: var(--nuxten-color-white); 
}

.circular-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}