<body>
    <!-- Titulo -->
    <div class="title-nav">
        <div class="title-icon">
            <span class="icon material-symbols-outlined">home</span>
            <h2 class="title">Bienvenidos a nuxten</h2>
        </div>
        <hr>
    </div>
    <div class="content info">
        <div class="img">
            <img src="../../../assets/Logos/imagoTipo.svg">
        </div>
        <span class="text">
            <b>nuxten</b> (haciendo a referencia a Jakob Nilsen y su contribución a la experiencia del usuario (UX) en
            el
            desarrollo web, así como las diez heurísticas propuestas por él, para evaluar la usabilidad de los
            productos software), es una herramienta que se utiliza para medir la usabilidad de un producto de software.
            Esta
            herramienta se basa en los principios heurísticos propuestos por Jakob Nielsen, y utiliza un método de
            evaluación que consta de cuatro fases en total. A través de esta evaluación, se pueden identificar problemas y
            obtener información relevante sobre el nivel de usabilidad del producto de software en cuestión.
        </span>
    </div>
    <!-- Sub Titulo -->
    <div class="subTitle-nav">
        <hr>
        <h4 class="title">Autores</h4>
    </div>
    <div class="content autores">
        <div class="img">
            <img src="../../../assets/Logos/Hevir.png">
        </div>
        <span class="text">
            <p><b>APLICATIVO EN LA NUBE PARA SISTEMATIZAR LA TÉCNICA DEL MÉTODO JAKOB NIELSEN EN MEDICIONES DE
                    USABILIDAD
                    FUNDAMENTADAS EN PRINCIPIOS HEURÍSTICOS</b></p>
            <p>Autores</p>
            <p>Cesar Camilo Rodriguez Melendez</p>
            <p>Leider Sebastian Hernández Trochez</p>
            <p>director: ing. dayner felipe ordoñez</p>
            <p>2023</p>
        </span>
    </div>
</body>