<body>
    <h1>Esperando ...</h1>
    <div class="icon-container">
        <div class="loader">
        </div>
    </div>
    <h2>Esperando que los demas expertos finalicen la <b>{{data.fase}}</b></h2>
    <p>{{checkedExpertos}}/{{numDeExpertos}}</p>
    <div mat-dialog-actions class="button-nav">
        <button class="btn-secundary" mat-stroked-button [mat-dialog-close]="false"
        [disabled]="this.checkedExpertos == this.numDeExpertos">{{buttonMes}}</button>

        <button *ngIf="data.fase != 'Creada'"
        class="btn-primary" mat-stroked-button [mat-dialog-close]="true"
        [disabled]="this.checkedExpertos == this.numDeExpertos"> Regresar inicio </button>
    </div>
</body>