body {
  height: 420px;
  // width: 60vw;
  padding: 20px;
  // overflow-y: scroll;
}

.example-form-field {
  width: 200px;
}

.inputs-container {
  display: flex;
  gap: 10px;
}

.textfield {
  input {
    width: 35vw;
  }

  mat-select {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15.5vw;
  }

  textarea {
    max-width: 54vw;
    min-width: 54vw;
    min-height: 20px;
    max-height: 90px;
  }

  .icon {
    font-size: 18px;
    padding-left: 5px;
    cursor: pointer;
    color: var(--nuxten-color-primary);
  }
}

::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
.mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
  background: var(--nuxten-color-primary);
}

.defpro {
  padding-right: 20px;
}

.button-nav {
  display: flex;
  justify-content: left;

  .btn-primary {
    width: 120px;
    margin: 0 20px;
  }

  .btn-secundary {
    width: 120px;
    margin: 0 20px;
  }
}
