td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-right: 20px;
  }

  .fase {
    width: 20vw;
  }
}

.mdc-data-table__header-cell {
  background-color: #F0F0F0!important;
  // color: white;
}

.tablaProm {
  height: 450px;
  overflow: auto;
  width: 70vw;

  margin: 0 auto;
}

.mat-column-pro {
  text-align: center;
}

.mat-column-def {
  border-right: 1px solid currentColor;
}

.mat-column-sevP {
  text-align: center;
}

.mat-column-freP {
  text-align: center;
}

.mat-column-criP {
  text-align: center;
  border-right: 1px solid currentColor;
}

.mat-column-sevD {
  text-align: center;
}

.mat-column-freD {
  text-align: center;
}

.mat-column-criD {
  text-align: center;
}
