<body>
    <!-- Evaluacion no creada -->
    <div *ngIf="userData.idEvaluacion == null">
        <!-- Titulo -->
        <div class="title-nav">
            <div class="title-icon">
                <span class="icon material-symbols-outlined">folder</span>
                <h2 class="title">Evaluación</h2>
            </div>
            <hr>
        </div>
        <!-- <br> -->
        <div class="mensaje-nav">
            <p>Actualmente no se esta presentando una evaluación.</p>
        </div>
    </div>
    <div>
        <!-- Evaluacion info -->
        <div class="container" *ngIf="state == true">
            <!-- Titulo -->
            <div class="title-nav">
                <div class="title-icon">
                    <span class="icon material-symbols-outlined">folder</span>
                    <h2 class="title">Evaluación</h2>
                </div>
                <hr>
            </div>
            <p>Esta pantalla permite acceder a las fases de la evaluación.</p>
            <!-- Sub Titulo -->
            <div class="subTitle-nav">
                <hr>
                <h4 class="title">Datos generales de la evaluación</h4>
            </div>
            <!-- Datos de la evaluación -->
            <div class="container-datos-van">
                <div class="datos-nav">
                    <p><b>Evaluación:</b> {{infoEvaluacion.idEvaluacion}}</p>
                    <p><b>Nombre del sitio:</b> {{infoEvaluacion.nombreSitio}}</p>
                </div>
                <div class="datos-nav">
                    <p><b>Url / Versión:</b> {{infoEvaluacion.urlSitio}}</p>
                    <p><b>Fase (actual):</b> {{infoEvaluacion.fase}}</p>
                </div>
                <div class="datos-nav">
                    <p><b>Fecha de creacion:</b> {{setDate(infoEvaluacion.fechaCreacion)}}</p>
                    <p><b>Tipo de sitio:</b> {{infoEvaluacion.tipoSitio}}</p>
                </div>
            </div>
            <!-- Sub Titulo -->
            <div class="subTitle-nav">
                <hr>
                <h4 class="title">Expertos</h4>
            </div>
            <div class="table-contanier-nav">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <!-- EXPERTO Column -->
                    <ng-container matColumnDef="expeto">
                        <th mat-header-cell *matHeaderCellDef> Experto </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombres}} {{element.apellidos}} </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="num">
                        <th mat-header-cell *matHeaderCellDef> Numero de Contacto </th>
                        <td mat-cell *matCellDef="let element" class="telefono">
                            {{numeroContacto(element.numeroCelular)}} </td>
                    </ng-container>

                    <!-- CORREO Column -->
                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef> Correo </th>
                        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <br>
            <div class="subTitle-nav">
                <hr>
                <h4 class="title">Fases de la evaluación</h4>
            </div>
            <div class="fases-buttons-nav">
                <button mat-stroked-button (click)="goToFase(1)" class="fase-button"
                    [disabled]="!buttonState('Fase 1')"> Fase 1 </button>
                <button mat-stroked-button (click)="goToFase(2)" class="fase-button"
                    [disabled]="!buttonState('Fase 2')"> Fase 2 </button>
                <button mat-stroked-button (click)="goToFase(3)" class="fase-button"
                    [disabled]="!buttonState('Fase 3')"> Fase 3 </button>
                <button mat-stroked-button (click)="goToFase(4)" class="fase-button"
                    [disabled]="!buttonState('Fase 4')"> Fase 4 </button>
            </div>
        </div>
    </div>
    <div *ngIf="this.evaFases == undefined">
        recargar pagina
    </div>
</body>
<router-outlet></router-outlet>