.material-symbols-outlined {
  font-size: 36px;
  font-variation-settings:
    'FILL'0,
    'wght'300,
    'GRAD'0,
    'opsz'0
}

.sidenav {
  background: var(--nuxten-color-primary);
  transition: all .1s ease;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 63px;
  height: 100vh;
  // box-shadow: 0.063rem 0 10px 0 black;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 40px 8px 70px;
    width: 100%;

    .logo {
      text-align: center;
      width: 43px;
      height: 43px;
      min-width: 3rem;
      border-radius: 0.313rem;
      // padding: 0.313rem;
      padding: 0;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 14px;
      width: 113px;
      height: 24px;
      cursor: pointer;
    }

    .btn-close {
      margin-top: 3.5%;
      padding-left: 20px;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: var(--nuxten-color-white);
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 240px;
  box-shadow: 0.063rem 0 10px 0 black;
}

.sidenav-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: var(--nuxten-color-unselected);
      text-decoration: none;
      border-radius: 2px;
      transition: all .2s ease;

      .sidenav-link-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 2rem;
        min-width: 2rem;
        margin: 0 15px;
        text-align: center;
      }
    }

    .sidenav-link-text {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: var(--nuxten-color-slide-selected);
      color: var(--nuxten-color-white);
    }
  }
}

.active {
  background-color: var(--nuxten-color-slide-selected);

  .sidenav-link-icon,
  .sidenav-link-text {
    color: var(--nuxten-color-white);
  }
}

.active::before {
  content: '';
  width: 3px;
  height: 30px;
  background-color: var(--nuxten-color-white);
  position: fixed;
  border-radius: 4px;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  // width: 63px;
}

.profile-nav-item {
  width: 100%;

  hr{
    margin: 15px;
  }

  .sidenav-nav-link {
    display: flex;
    align-items: center;
    
    height: 3rem;
    color: var(--nuxten-color-white);
    text-decoration: none;
    border-radius: 2px;
    transition: all .2s ease;

    .user-link-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 2rem;
      min-width: 2rem;
      margin: 0 15px;
      text-align: center;
    }

    .info-nav {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: left;
      .exp-name {
        font-weight: bold;
        font-size: 16px;
      }
      .exp-prof {
        font-size: 12px;
        margin: 0;
      }
    }

    .btn-logOut {
      margin-top: 3.5%;
      padding-left: 20px;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .arrow-icon {
        color: var(--nuxten-color-white);
        font-size: 24px;
      }
    }
  }
}

.profile-nav-item:hover {
  .sidenav-nav-link {
    background-color: var(--nuxten-color-slide-selected);
  }
}