body {
  height: 75vh;
  padding: 20px;
  overflow-y: scroll;
}

.example-form-field {
  width: 200px;
}

.inputs-container {
  display: flex;
  gap: 10px;
}

.textfield {
  input {
    width: 15vw;
  }

  .eye-icon {
    left: 14vw
  }
}

.button-nav {
  display: flex;
  justify-content: center;

  .btn-primary {
    width: 120px;
    margin: 0 20px;
  }

  .btn-secundary {
    width: 120px;
    margin: 0 20px;
  }
}

.contador {
  margin: 0;
}
