<body>
    <!-- Titulo -->
    <div class="title-nav">
        <div class="title-icon">
            <span class="icon material-symbols-outlined">group</span>
            <h2 class="title">Agregar Experto</h2>
        </div>
        <hr>
    </div>
    <p>Esta pantalla te permite agregar un experto.</p>
    <!-- Sub Titulo -->
    <div class="subTitle-nav">
        <hr>
        <h4 class="title">Información personal</h4>
    </div>
    <form (ngSubmit)="agregar()" [formGroup]="userExpertForm">
        <div class="inputs-container">
            <!-- INPUT NOMBRES -->
            <div class="textfield">
                <label for="nombres">Nombres</label>
                <input type="text" id="nombres" formControlName="nombres" placeholder=""
                    (change)="onChange('nombres', userExpertForm)">
                <span *ngIf="submitted && userExpertForm.get('nombres')?.hasError('required')" class="alerta">
                    Ingrese los nombres
                </span>
            </div>
            <!-- INPUT APELLIDOS -->
            <div class="textfield">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" formControlName="apellidos" placeholder=""
                    (change)="onChange('apellidos', userExpertForm)">
                <span *ngIf="submitted && userExpertForm.get('apellidos')?.hasError('required')" class="alerta">
                    Ingrese los apellidos
                </span>
            </div>
        </div>
        <br>
        <div class="inputs-container">
            <!-- INPUT IDENTIFICACION -->
            <div class="textfield">
                <label for="identfi">Identificación</label>
                <input type="number" id="identfi" formControlName="identfi" placeholder=""
                    (change)="onChange('identfi', userExpertForm)">
                <span *ngIf="submitted && userExpertForm.get('identfi')?.hasError('required')" class="alerta">
                    Ingrese la identificación
                </span>
            </div>
            <!-- INPUT CORREO ELECTRONICO -->
            <div class="textfield">
                <label for="email">Correo Electronico</label>
                <input type="email" id="email" formControlName="email" placeholder="example@example.com"
                    (change)="onChange('email', userExpertForm)">
                <span *ngIf="submitted && userExpertForm.get('email')?.hasError('email')" class="alerta">
                    Ingrese un correo valido
                </span>
                <span *ngIf="submitted && userExpertForm.get('email')?.hasError('required')" class="alerta">
                    Ingrese el correo
                </span>
            </div>
        </div>
        <br>
        <div class="inputs-container">
            <!-- INPUT NUMERO CONTACTO -->
            <div class="textfield">
                <label for="Identificación">Número de contacto</label>
                <input type="number" id="numero" formControlName="numero" placeholder=""
                    (change)="onChange('numero', userExpertForm)">
                <span *ngIf="submitted && userExpertForm.get('numero')?.hasError('required')" class="alerta">
                    Ingrese el número de contacto
                </span>
                <span *ngIf="submitted && userExpertForm.get('numero')?.hasError('maxlength')" class="alerta">
                    Número de contacto menor a 10 digitos
                </span>
            </div>
        </div>
        <br>
        <!-- Sub Titulo -->
        <div class="subTitle-nav">
            <hr>
            <h4 class="title">Contraseña</h4>
            <p style="padding: 0; width: 33vw;"> La contraseña debe tener minimo 8 caracteres entre ellos minúsculas,
                mayúsculas y
                números.</p>
        </div>

        <div class="inputs-container">
            <!-- INPUT CONTRASEÑA -->
            <div class="textfield">
                <label for="password">Contraseña </label>
                <input type="text" id="password" formControlName="password" placeholder="contraseña"
                    [type]="hide1 ? 'password' : 'text'" (change)="onChange('password', userExpertForm)">
                <mat-icon class="eye-icon" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' :
                    'visibility'}}</mat-icon>
                <span *ngIf="submitted && userExpertForm.get('password')?.hasError('required')" class="alerta">
                    Ingrese contraseña
                </span>
                <span
                    *ngIf="submitted && (userExpertForm.get('password')?.hasError('pattern') || userExpertForm.get('password')?.hasError('minlength'))"
                    class="alerta">
                    Ingrese contraseña valida
                </span>
            </div>
            <!-- INPUT REPETIR CONTRASEÑA -->
            <div class="textfield">
                <label for="password">Repertir contraseña </label>
                <input type="text" id="repPassword" formControlName="repPassword" placeholder="contraseña"
                    [type]="hide2 ? 'password' : 'text'" (change)="onChange('repPassword', userExpertForm)">
                <mat-icon class="eye-icon" (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' :
                    'visibility'}}</mat-icon>
                <span *ngIf="submitted && userExpertForm.get('repPassword')?.hasError('required')" class="alerta">
                    Ingrese contraseña
                </span>
                <span
                    *ngIf="submitted && !userExpertForm.get('repPassword')?.hasError('required') && userExpertForm.get('repPassword')?.value != userExpertForm.get('password')?.value"
                    class="alerta">
                    contraseña no coincide
                </span>
            </div>
        </div>
        <br>
        <div class="button-nav">
            <button class="btn-secundary" type="button" (click)="goBack()" mat-stroked-button>Cancelar</button>
            <button class="btn-primary" type="submit" mat-raised-button>Agregar</button>
        </div>
    </form>
</body>