td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabla {
    width: 400px;
    margin: 0 auto;
}

.scroll {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.button-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-right: 20px;
  }

  .fase {
    width: 20vw;
  }
}
