<div class="body center">
    <div class="main-login">
        <div class="left-login">
            <img src="../../../assets/Logos/imagoTipo.svg" alt="">
        </div>
        <div class="right-login" id="wrapper">
            <form class="form-box" id="login" (ngSubmit)="ingresar()" [formGroup]="userLoginForm">
                <h2>Inicio de Sesión</h2>
                <div class="textfield">
                    <label for="email">Correo Electronico</label>
                    <input type="email" id="email" formControlName="email" placeholder="example@example.com"
                        (change)="onChange('email', userLoginForm)">
                    <span *ngIf="submitted && userLoginForm.get('email')?.hasError('email')" class="alerta">
                        Ingrese un correo valido
                    </span>
                    <span *ngIf="submitted && userLoginForm.get('email')?.hasError('required')" class="alerta">
                        Ingrese el correo
                    </span>
                </div>
                <br>
                <div class="textfield">
                    <label for="password">Contraseña </label>
                    <input type="text" id="password" formControlName="password" placeholder="contraseña"
                        [type]="hide ? 'password' : 'text'" (change)="onChange('password', userLoginForm)">
                    <mat-icon class="eye-icon" (click)="hide = !hide">{{hide ? 'visibility_off' :
                        'visibility'}}</mat-icon>
                    <span *ngIf="submitted && userLoginForm.get('password')?.hasError('required')" class="alerta">
                        Ingrese el contraseña
                    </span>
                </div>
                <br>
                <div class="remember-forgot">
                    <a class="recovery-link" (click)="toRecovery()">Olvidaste tu contraseña?</a>
                </div>
                <div class="button-nav">
                    <button class="btn-primary" mat-raised-button type="submit"> Ingresar </button>
                </div>
            </form>

            <form class="form-box" id="recover" (ngSubmit)="recuperar()" [formGroup]="userRecoverForm">
                <h2>Recuperar Contraseña</h2>
                <div class="textfield">
                    <label for="email">Correo Electronico</label>
                    <input type="email" id="emailRe" formControlName="email" placeholder="example@example.com"
                        (change)="onChange('emailRe', userRecoverForm)">
                    <span *ngIf="submitted && userRecoverForm.get('email')?.hasError('email')" class="alerta">
                        Ingrese un correo valido
                    </span>
                    <span *ngIf="submitted && userRecoverForm.get('email')?.hasError('required')" class="alerta">
                        Ingrese el correo
                    </span>
                </div>
                <div class="button-nav">
                    <button class="btn-primary" mat-stroked-button type="submit"> Recuperar </button>
                </div>
                <br>
                <a class="login-link" (click)="toLogin()">
                    <mat-icon class="arrow-icon">keyboard_arrow_left</mat-icon>
                    Volver al inicio
                </a>
            </form>

        </div>
    </div>
</div>