.center {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 100vh;

  background-color: var(--nuxten-color-primary);
  background-image: url(../../../../assets/Fondo/BackGround.png);
  background-attachment: fixed;
  background-position: 40%;
}

//Container
.split-screen {
  width: 58vw;
  height: 60vh;
  background-color: var(--nuxten-color-white);
  border-radius: 21px;

  display: flex;
  flex-direction: column;

  overflow: auto;
}

//left container
.left {
  // width: 50vw;
  // height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  //Imagotipo
  img {
    margin: 10px;
    width: 30vw;
    height: 30vh;
  }
}

//right container
.right {
  // width: 50vw; 
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .left {
//   height: 200px;
//   text-align: center;

//   img {
//     width: 30vw;
//     height: 30vh;
//   }
// }

// .left .right {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 50vw;
//   height: 100vh;
//   flex-direction: column;
// }

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//Title (Inicio de sesion - Recuperar contraseña)
h2 {
  color: var(--nuxten-color-gray-primary);
  font-size: 20px;
  margin-bottom: 3vh;
}

//Inputs
.textfield {
  input {
    width: 17vw;
  }
}

@media screen and (min-width: 900px) {
  .split-screen {
    flex-direction: row;
  }

  .left,
  .right {
    display: flex;
  }
}

@media (max-width: 768px) {
  .split-screen {
    width: 94%;
    height: 90%;
  }

  .left,
  .right {
    display: flex;
  }

  .textfield input {
    width: 230px;
  }

  .eye-icon {
    margin-left: 40vw;
  }

}
