td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mat-column-nombre {
    padding-right: 170px;
}

.mat-column-heuristica {
    padding-right: 60px;
}

.mat-column-descripcion {
    text-align: justify;
}