td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-column-nombre {
  padding-right: 170px;
}

.mat-column-heuristica {
  padding-right: 60px;
}

.mat-column-descripcion {
  text-align: justify;
}

.button-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-right: 20px;
  }

  .fase {
    width: 20vw;
  }
}

.agregar {
  justify-content: flex-end;
}

.noProblemas-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--nuxten-color-primary);
  h1 {
    font-weight: bold;
    font-size: 1vw;
    margin: 0;
  }

  .icon {
    font-size: 3vw;
    margin: 10px;
  }
}

.mat-column-def {
  width: 250px;
  // padding-right: 16px;
}

.mat-column-des {
  // padding-right: 100px;
  text-align: justify;
}