.bar-user {
  position: fixed;
  z-index: 1;
  position: fixed;
  //   top: 0;
  //   left: 0;
  width: 100vw;
  height: 50px;
  background: var(--nuxten-color-white);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .user-icon {
    display: flex;
    align-items: center;
    margin-right: 60px;
    font-weight: bold;

    .icon {
      margin-left: 10px;
    }
  }
}
